h1 {
	font-size: 2.5em;
	font-family: 'Arial', sans-serif;
	text-align: center;
}


h2,
h3 {
	font-size: 2em;
	font-family: 'Georgia', serif;
}

p {
	line-height: 1.5;
}

/* Images */
img {
	border: 5px solid purple;
	padding: 10px;
	margin: 20px;
	border-top-right-radius: 30px;
}


nav ul li {
	background-color: #ECFF4D;
	padding: 10px;
	width: 25%;
	border: 1px solid black;
	display: inline-block;
	margin-left: 50px;